@using (Html.Bootstrap().Card("Header text").SetTextBgState(TextBgState.Info).Begin())
{
    <p>
        Hello world!
    </p>
}
<hr />
@using (var card = Html.Bootstrap().Card().SetTextBgState(TextBgState.Primary).Begin())
{
    @card.Header("Header")
    @using (@card.Body().Begin())
    {
        <p>
            Hello world!
        </p>
    }
    @card.Footer("Footer")
}
<hr />
@using (Html.Bootstrap().Card("Summary").SetTextBgState(TextBgState.Info).Begin())
{
    using (var list = Html.Bootstrap().List(ListType.Unordered).Begin())
    {
        @list.ListItem($"item1")
        @list.ListItem($"item2")
        @list.ListItem($"item3")
        @list.ListItem($"item4")
    }
}