@using (Html.Bootstrap().Div().Style(new { width = "500px" }).Begin())
{
    @using (Html.Bootstrap().Card("Simple Card (Primary)").TextBackground(TextBgState.Primary).Begin())
    {
        <p>
            Hello world!
        </p>
    }
    <hr />
    @using (Html.Bootstrap().Card("List Including Card (Secondary)").TextBackground(TextBgState.Secondary).Begin())
    {
        using (var list = Html.Bootstrap().List(ListType.Unordered).Begin())
        {
            @list.ListItem($"item1")
            @list.ListItem($"item2")
            @list.ListItem($"item3")
            @list.ListItem($"item4")
        }
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().NoCardBody().TextBackground(TextBgState.Success).Begin())
    {
        @card.Header("Customized Card Body (Success)")
        @using (@card.Body().Begin())
        {
            <p>
                Hello world!
            </p>
        }
        @card.Footer("Footer")
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().NoCardBody().TextBackground(TextBgState.Danger).Begin())
    {
        @card.Header("Customized body with title, subtitle (Danger)")
        @using (@card.Body(null, "title", "subtitle").Begin())
        {
            <p>
                Hello world!
            </p>
        }
        @card.Footer("Footer")
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().Header("Collapsible (Warning)", true).TextBackground(TextBgState.Warning).Begin())
    {
        <p>
            Hello world!
        </p>
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().Header("Collapsible with customized body (Info)", true).TextBackground(TextBgState.Info).NoCardBody().Begin())
    {
        @card.Body("text content", "title")
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().NoCardBody().TextBackground(TextBgState.Light).Begin())
    {
        @card.Header("Header")
        @using (@card.Body(null, "title", "subtitle").Begin())
        {
            <p>
                Hello world!
            </p>
        }
        @card.Footer("Footer")
    }
    <hr />
    @using (var card = Html.Bootstrap().Card().NoCardBody().TextBackground(TextBgState.Dark).Begin())
    {
        @card.Header("Header")
        @using (@card.Body(null, "title", "subtitle").Begin())
        {
            <p>
                Hello world!
            </p>
        }
        @card.Footer("Footer")
    }
}